body {
  font-family: "Tuffy", sans-serif;
  font-style: normal;
  line-height: 1.6;
  background-color: #f0f0f0;
}

h2 {
  color: #333;
  margin-bottom: 15px;
}

p {
  color: #666;
  margin-bottom: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"],
input[type="submit"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  min-width: 100px;
}

input[type="submit"] {
  background-color: #223577;
  color: #fff;
  font-family: "Tuffy", sans-serif;
  font-style: normal;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #40569c;
}

a {
  text-decoration: none;
}

a:hover {
  color: #40569c;
}

/* Specific styles for DLS calculator */
#teamARuns,
#teamAWickets,
#teamAOvers,
#teamBRuns,
#teamBWickets,
#teamBOvers {
  width: 100px;
}

select#matchSituation {
  font-family: "Tuffy", sans-serif;
  font-style: normal;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #fff;
  width: auto;
  cursor: pointer;
}

select#matchSituation:hover {
  border-color: #40569c;
  background-color: #f9f9f9;
}

/* Specific styles for Strike Rate calculator */
#balls,
#runs {
  width: 100px;
}
