body {
  font-family: "Open Sans", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h2,
h3 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

p {
  text-align: center;
}

table {
  width: 80%;
  max-width: 1000px;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th,
table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
}

table th {
  background-color: #223577;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  color: #0056b3;
}

.team-info img {
  object-fit: cover;
}

/* .top-team {
  background-color: #d4f5d6;
} */
