body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

h2 {
  text-align: center;
  margin-top: 30px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: auto;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 0.85rem;
}

table th {
  background-color: #f2f2f2;
}

table td {
  background-color: #fff;
}

.action-buttons {
  text-align: center;
}

.update-btn,
.delete-btn {
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
}

.update-btn {
  background-color: #4caf50;
  color: white;
}

.update-btn:hover {
  background-color: #45a049;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}

.delete-btn:hover {
  background-color: #da190b;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  color: #0056b3;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination a {
  padding: 8px 12px;
  text-decoration: none;
  color: #000;
  background-color: #ffe985;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 0.85rem;
}

.pagination a:hover {
  background-color: #ffd61f;
}

.pagination a.active {
  background-color: #ffdd47;
  font-weight: bold;
  pointer-events: none;
}
