body {
  font-family: "Tuffy", sans-serif;
  font-style: normal;
  line-height: 1.6;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* overflow: hidden; */
}

.header-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin: 30px 20px 15px;
}

.header-container h2 {
  grid-column: 2;
  margin: 0;
  text-align: center;
}

.filter-form {
  grid-column: 3;
  justify-self: end;
}

.filter-form select {
  padding: 10px;
  font-family: "Tuffy", sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: auto;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 1rem;
}

table th {
  background-color: #f2f2f2;
}

table td {
  background-color: #fff;
}

table td:last-child,
table th:last-child {
  width: 7.5%;
}

table td:nth-child(5),
table th:nth-child(5) {
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

table td:nth-child(7),
table th:nth-child(7) {
  max-width: 400px;
}

table td:nth-child(2),
table th:nth-child(2) {
  max-width: 175px;
}

table td:nth-child(6),
table th:nth-child(6) {
  max-width: 140px;
}

.action-buttons {
  text-align: center;
}

.update-btn,
.delete-btn {
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.update-btn {
  background-color: #4a689f;
  color: #fff;
}

.update-btn:hover {
  background-color: #223577;
}

.delete-btn {
  background-color: #d44f4f;
  color: #fff;
}

.delete-btn:hover {
  background-color: #aa3c3c;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
  color: #223577;
}

a:hover {
  color: #40569c;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination a {
  padding: 8px 12px;
  text-decoration: none;
  color: #223577;
  background-color: #e0e6f6;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.pagination a:hover {
  background-color: #40569c;
  color: #fff;
}

.pagination a.active {
  background-color: #223577;
  color: #fff;
  font-weight: bold;
  pointer-events: none;
}
